/* core/static/core/css/style.css (Apenas Estilos Globais) */

/* --- ESTILOS GLOBAIS --- */
body {
  background-image: url("../img/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  text-align: center;
}

.background2 {
  background-image: url("../img/background2.png") !important;
}

.login-button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}

.login-button:hover {
  background-color: #0056b3;
}
